@import "colors";
@import "mixins";

html, body {
  height: 100%;
  margin: auto;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  @include scrollbars(0.6em, $primary-color)
}

.w {
  &-100 {
    width: 100% !important;
  }
  &-60 {
    width: 60% !important;
  }
}

.h {
  &-100 {
    height: 100% !important;
  }
}

.border {
  &-grey {
    border: solid gray 1px;
  }

  &-rose {
    border: solid #dc3545 1px;
  }

}


.container {
  max-width: 1730px !important;
  margin-left: auto;
  margin-right: auto;
}

.p-divider {
  &--vertical{
    border-left: solid 1px rgba($secondary-color, 0.4) !important;
    width: 2px;
    height: 100%;
    margin: 0 0.3rem;
    min-height: 20px;
  }
    &--horizontal{
    border-top: solid 1px rgba($secondary-color, 0.2) !important;
    width: 100%;
    height: 3px;
    margin: 0 0.3rem;
    min-height: 20px;
  }
}

.cursor{
  cursor: pointer !important;
}
