.w {
  &-100 {
    width: 100% !important;
  }
}

.h {
  &-100 {
    width: 100% !important;
  }
}

.border {
  &-grey {
    border: solid gray 2px;
  }

  &-rose {
    border: solid darkred 2px;
  }

}

.text{
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  //width: 100%;
}
