@import "colors";
@import "mixins";

html, body {
  height: 100%;
  margin: auto;
  background-color: $grey-color;
  @include scrollbars(0.6em, $primary-color)
}

.w {
  &-100 {
    width: 100% !important;
  }
}

.h {
  &-100 {
    height: 100% !important;
  }
}

.border {
  &-grey {
    border: solid gray 1px;
  }

  &-rose {
    border: solid #dc3545 1px;
  }

}

.text {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
}

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  //width: 100%;
}

.p-divider {
  &--vertical{
    border-left: solid 1px rgba($secondary-color, 0.4) !important;
    width: 2px;
    height: 100%;
    margin: 0 0.3rem;
    min-height: 20px;
  }
}
