$primary-color: #16a085;
$primary-color-inverted: #FFFFFF;
$secondary-color: #2f4254;


$grey-color: #f9fafb;

$red: #ed5a64;
$info: #189ad3;
$danger: #fb2e01;
$purple: 	#800080;
$dark-grey:	#555555;
$orange:	#ff7400;
